@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    font-size: 16px; /* tamanho base do rem -> 1 rem = 16 px */
    /* aqui altera-se todos os tamanhos baseados no rem ao mesmo tempo */
    scroll-behavior: smooth ;
    --cor-primaria-texto: #353535;
    --cor-fundo-tags: #bebebe;
    --padding-padrao-secao: 40px;

    /* Tema: light */
    --plano-fundo: #ffffff;
    --cor-primaria-texto: #353535;
    --cor-fundo-tags: #bebebe;

}

[data-tema= "dark"] {
    --plano-fundo: #353535;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
    --cor-fundo-apresentacao: ;
}

/* : -> pseudo classe */
body {
    width: 80vw; /*80vw: 80% da viewport width */
    margin: auto; /*margem com ajuste automático */
    font-size: 20px; /* o padrão é 16px */
    font-family: "Shantell Sans", cursive;
    background-color: var(--plano-fundo);
}

header {
    background-color: #fffacd;
}

section#tecnologias {
    display: flex; /*exibe como caixa de (flexbox)*/
    /* Flexbox tem várias propriedades que trabalham juntos */
    justify-content: space-around; /*alinha o conteúdo no eixo principal*/
}

/*combinadores*/

article h1 { /*h1 descendente a article*/
    font-size: 1.5rem;
    padding: 0;
    line-height: 1.5;
    font-weight: bold; /*bold = 700*/ 
    margin: 0 0 1rem 0;
}

article h2 { /*h2 descendente a article*/
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;/*demi-bold (quase negrito)*/
    margin: 0 0 1rem 0;
}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.continue_lendo a {
color: #ffffff;
text-decoration: none;
}

.continue_lendo {
    background-color: #483d8b;
    padding: 0rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

article p {
    text-align: left;
    margin-bottom: 1rem;
    font-size: large;
    height: 150px;
    overflow: hidden;
    
}

article {
    width: 30%;
    background-color: #cecece;
    padding: 2rem;
}

.titulo-secao{
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin: 0.5rem; /* valores: top (cima) right (direita) bottom (baixa) left (esquerda) / Quando a definição for igual para todos basta digitar apenas uma vez */
    padding: 0.5rem; /*valores top (cima) right (direita) botton (baixa) left (esquerda) / Preenchimento */

}

.foto1 {
    margin: 5rem 51rem 0rem 51.5rem;
}

.icone_casa {
    width: 50px;
    margin: 0rem 0rem -0.5rem 0rem;
}

.nome_curriculo {
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 0rem 15rem -8rem 5rem; /* Shorthand */
}

p {
    line-height: 1.5; /*altura da linha: 1.5x o tamanho padrão */
    margin: 1rem 0rem;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
    margin: 1rem 0 2rem 0;
    padding: 0;
}

.lista_tags li {
    display: inline-block;
    background-color: #cecece;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
}

#apresentacao #formacao #experiencia_profissional #hard_skills #soft_skills #idiomas {
    padding: var(--padding-padrao-secao);
}

section {
    background-color: #fffacd;
}

#imagem_mensagem {
    width: 50px;
    margin: 0rem 0.5rem -0.5rem 0rem;
}