@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-size: 16px; /* tamanho base do rem -> 1 rem = 16 px */
    /* aqui altera-se todos os tamanhos baseados no rem ao mesmo tempo */
}
/* : -> pseudo classe */
body {
    width: 80vw; /*80vw: 80% da viewport width */
    margin: auto; /*margem com ajuste automático */
    font-size: 20px; /* o padrão é 16px */
    font-family: "Shantell Sans", cursive;
}

section {
    padding: 40px;
}

section#apresentacao {
    background-color: lightcoral;
}

section#formacao {
    background-color: lightgreen;
}

section#experiencia_profissional {
    background-color: bisque;
}

section#hard_skills {
    background-color: lemonchiffon;
}

section#soft_skills {
    background-color: lightsalmon;
}

section#idioma {
    background-color: lightseagreen;
}

.titulo-secao{
    font-family: "Dancing Script", cursive;
    color: dimgray;
    font-size: 3rem;
    margin: 0.5rem; /* valores: top (cima) right (direita) bottom (baixa) left (esquerda) / Quando a definição for igual para todos basta digitar apenas uma vez */
    padding: 0.5rem; /*valores top (cima) right (direita) botton (baixa) left (esquerda) / Preenchimento */

}

.foto1 {
    margin: 0rem 51rem;
    width: 209px;
}

.icone_casa {
    width: 50px;
    margin: 0rem 0rem -0.5rem 0rem;
}

.nome_curriculo {
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem 1rem -4rem 1rem; /* Shorthand */
}

p {
    line-height: 1.5; /*altura da linha: 1.5x o tamanho padrão */
    margin: 1rem 0rem;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
}